<h1>Autores</h1>
<ul>
<li>Juan Santos Mart&iacute;n</li>
<li>juan27sm@gmail.com</li>
<li><%= image_tag('beaumont.png') %></li>
<li></li>
<li>Jose Vicente Angulo Martinez</li>
<li>joseviangulo@gmail.com</li>
<li><%= image_tag('josevi.jpeg') %></li>
</ul>