// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapa {
	width: 400px;
	height: 400px;	
	margin-top: 10px;
}

#location {
	float: right;	
	padding-top: 4ex;
}

